body {
  margin: 0 !important;
  padding: 0 !important;
}
///////////////////////// colors /////////////////////
.body-bg {
  background: #1d2888;
}
.main-bg {
  background: linear-gradient(0deg, #131027, #131027),
    linear-gradient(0deg, #f8a6bf, #f8a6bf);
}
.super-bg {
  background-color: #0d0b1b;
}
.bg-white {
  background-color: white;
}
.bg-white-green {
  background-color: #00a651;
}
.bg-readblue {
  background-color: #1d2888;
}
.bg-teal {
  background-color: #3fbebe;
}
.bg-pink {
  background-color: #f8a6bf;
}
.bg-lav {
  background-color: #9747ff;
}
.bg-yellow {
  background-color: #ffe774;
}
.bg-blue {
  background-color: #3577f7;
}
.bg-red {
  background-color: #ff584a;
}
//--------------
.color-teal {
  color: #3fbebe;
}
.color-pink {
  color: #f8a6bf;
}
.color-lav {
  color: #9747ff;
}
.color-yellow {
  color: #ffe774;
}
.color-blue {
  color: #3577f7;
}
.color-red {
  color: #ff584a;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}

//--------------
.border-teal {
  border: 1px solid #3fbebe;
}
.border-pink {
  border: 1px solid #f8a6bf;
}
.border-lav {
  border: 1px solid #9747ff;
}
.border-yellow {
  border: 1px solid #ffe774;
}
.border-blue {
  border: 1px solid #3577f7;
}
.border-red {
  border: 1px solid #ff584a;
}
.border-super {
  border: 1px solid #0d0b1b;
}
//--------------------------------------------
.block-set-teal {
  border: 1px solid #3fbebe;
  .ss-tags {
    .s-tag {
      background: rgba(63, 190, 190, 0.16);
      color: #3fbebe;
    }
  }
  .main-btn {
    button {
      border: 1px solid #3fbebe;
      color: #3fbebe;
    }
  }
}
.block-set-pink {
  border: 1px solid #f8a6bf;
  .ss-tags {
    .s-tag {
      background: rgba(248, 166, 191, 0.12);
      color: #f8a6bf;
    }
  }
  .main-btn {
    button {
      border: 1px solid #f8a6bf;
      color: #f8a6bf;
    }
  }
}
.block-set-lav {
  border: 1px solid #9747ff;
  .ss-tags {
    .s-tag {
      background: rgba(151, 71, 255, 0.16);
      color: #9747ff;
    }
  }
  .main-btn {
    button {
      border: 1px solid #9747ff;
      color: #9747ff;
    }
  }
}
.block-set-yellow {
  border: 1px solid #ffe774;
  .ss-tags {
    .s-tag {
      background: rgba(255, 231, 116, 0.16);
      color: #ffe774;
    }
  }
  .main-btn {
    button {
      border: 1px solid #ffe774;
      color: #ffe774;
    }
  }
}
.block-set-blue {
  border: 1px solid #3577f7;
  .ss-tags {
    .s-tag {
      background: rgba(53, 119, 247, 0.12);
      color: #3577f7;
    }
  }
  .main-btn {
    button {
      border: 1px solid #3577f7;
      color: #3577f7;
    }
  }
}
.block-set-red {
  border: 1px solid #ff584a;
  .ss-tags {
    .s-tag {
      background: rgba(255, 88, 74, 0.16);
      color: #ff584a;
    }
  }
  .main-btn {
    button {
      border: 1px solid #ff584a;
      color: #ff584a;
    }
  }
}
.featured-block-set {
  .ss-tags {
    .s-tag {
      background: rgba(255, 255, 255, 0.32);
    }
  }
  .main-btn {
    button {
      border: 1px solid black;
      color: black;
    }
  }
}

/////////////////////////////
img,
svg {
  width: 100%;
  height: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  display: block;
  line-height: 100%;
}
a {
  margin: 0%;
}
.d-img {
  display: block;
}
.m-img {
  display: none;
}
.pad-top-0 {
  padding-top: 0 !important;
}
//----------------
.main-wrapper {
  margin: -8px;
  padding-top: 6.5vw;
}
.container {
  padding: 0vw 1.8vw;
}
.alt-title {
  color: rgba(154, 154, 154, 1);
  font-size: 1vw;
  font-weight: 100;
  font-family: monospace;
}
.main-title {
  font-size: 4vw;
  font-family: sans-serif;
  font-weight: 100;
}
.desc {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.46vw;
  line-height: 144%;
}
.main-btn {
  button,
  a {
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 1vw 3.9vw;
    font-size: 1.1vw;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 2vw;
    text-decoration: none;
    display: inline-block;
  }
}
.section-title {
  padding: 6.5vw;
  text-align: center;

  h4 {
    font-family: monospace;
    font-weight: 100;
    font-size: 1vw;
    color: white;
  }
}
.ss-tags {
  display: flex;
  .s-tag {
    margin-right: 0.5vw;
    padding: 0.4vw 0.6vw;
    border-radius: 0.3vw;
    h6 {
      font-family: monospace;
      font-size: 0.7vw;
      font-weight: 100;
    }
  }
}
h2.block-title {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 3vw;
  line-height: 120%;
}
p.block-desc {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.2vw;
  line-height: 116%;
}
//------------------------------
.story-section {
  border-radius: 1vw;
  overflow: hidden;
  padding: 3.7vw 9vw;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
  margin-bottom: 1.5vw;
  .s-left {
    width: 44%;
    .alt-title {
      margin-bottom: 0.8vw;
    }
    .desc {
      color: #9a9a9a;
      font-size: 1.5vw;
      margin-top: 0.5vw;
    }
  }
  .s-right {
    width: 49%;
    .desc {
      margin-top: 2vw;
    }
    .main-btn {
      button {
        margin-top: 7vw;
        margin-bottom: 3vw;
      }
    }
  }
  .story-close-icon {
    position: absolute;
    right: 4.3vw;
    top: 4vw;
  }
}
.similar-story-section {
  background: #171b52;
  border-radius: 1vw;
  overflow: hidden;
  color: white;
}
.ss-wrap {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  padding-left: 14vw;
  padding-bottom: 9vw;
  margin-top: 1.4vw;
}
.ss-block {
  margin-right: 1.6vw;
  width: 32.5%;
  border-radius: 1vw;
  flex: 0 0 auto;
  padding: 1.3vw;
  padding-bottom: 2.6vw;
  padding-top: 1.6vw;
  .ss-tags {
    display: flex;
    .s-tag {
      margin-right: 0.5vw;
      padding: 0.4vw 0.6vw;
      border-radius: 0.3vw;
      h6 {
        font-family: monospace;
        font-size: 0.7vw;
        font-weight: 100;
      }
    }
  }
  h2.block-title {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 3vw;
    line-height: 120%;
    margin-top: 1vw;
  }
  p.block-desc {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
    line-height: 116%;
    padding-right: 4.5vw;
    margin-top: 10vw;
    margin-bottom: 2vw;
  }
  .main-btn {
    text-align: center;
  }
}
.featured-stories {
  margin-bottom: 10vw;
  .featured-wrap {
    display: flex;
    padding-left: 19.5vw;
    flex-wrap: no-wrap;
    overflow-x: auto;
  }
}
.featuerd-block {
  display: flex;
  width: 83.5%;
  flex: 0 0 auto;
  margin-right: 2.3vw;
  border-radius: 1vw;
  overflow: hidden;
  .f-bl-left {
    width: 50%;
    .f-bl-media {
      height: 100%;
    }
  }
  .f-bl-right {
    width: 50%;
    .f-bl-right-inner {
      padding: 2vw 1vw 1vw 2vw;
      .ss-tags {
        margin-bottom: 1.2vw;
      }
      h2.block-title {
        margin-bottom: 0.6vw;
      }
      .main-btn {
        margin-top: 20vw;
      }
    }
  }
}
.filter-by-section {
  border-radius: 1vw;
}
.filter-by-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 78%;
  margin: auto;
  color: #fff;
  margin-bottom: 10vw;
}
.filter-tab {
  display: flex;
  align-items: flex-start;
  margin-right: 1vw;
  padding: 0.8vw 1vw 0.5vw 1vw;
  border-radius: 1vw;
  margin-bottom: 1vw;
  h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 3.5vw;
    margin-right: 0.4vw;
  }
  h4 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2vw;
  }
}
.filter-story-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 63.5%;
  margin: auto;
  color: white;
  padding-bottom: 10vw;
  .ss-block {
    margin-right: 0;
    width: 44%;
    border-radius: 1vw;
    flex: none;
    padding: 1.3vw;
    padding-bottom: 2.6vw;
    padding-top: 1.6vw;
    margin-bottom: 1.5vw;
  }
}
.main-read-banner {
  margin-bottom: -18vw;
}
.exp-text {
  text-align: center;
  color: white;
  padding: 4.6vw;
  padding-bottom: 2vw;
  h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 6vw;
    line-height: 115%;
    margin-bottom: 2vw;
  }
  p {
    font-size: 1.8vw;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 130%;
  }
}
.about-wrap {
  width: 78.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 14.3vw;
  .ab-left {
    width: 44%;
    h2.ab-title {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 2.9vw;
      line-height: 120%;
    }
  }
  .ab-right {
    width: 46.7%;
    .about-content {
      margin-bottom: 4.7vw;
      padding-right: 4vw;
      h4 {
        font-family: monospace;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.1vw;
        margin-bottom: 1.2vw;
        color: #131027;
      }
      p {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 1.5vw;
        line-height: 140%;
        color: #131027;
      }
    }
  }
}
.about-form {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  .abf-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    margin: auto;
    .f-left {
      width: 34.6%;
    }
    .f-right {
      width: 46.8%;
      h2 {
        font-family: sans-serif;
        font-weight: 100;
        font-size: 3.6vw;
        line-height: 110%;
        margin-bottom: 2.5vw;
      }
      form {
        width: 87%;
        .input-field {
          width: 100%;
          background-color: transparent;
          border: 1px solid black;
          border-radius: 2vw;
          margin-bottom: 0.5vw;
          input {
            font-size: 1vw;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 1vw 1.5vw;
          }
          textarea {
            padding: 0.5vw;
            font-size: 1vw;
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: 2vw;
            padding: 1vw 1.5vw;
          }
        }

        button {
          padding: 0.5vw;
          font-size: 1vw;
          background-color: transparent;
          border: 1px solid black;
          outline: none;
          border-radius: 2vw;
          padding: 1vw 4vw;
          margin-bottom: 0.5vw;
        }
      }
    }
  }
}
.write-collection-wrap {
  background-color: #fdf4f3;
  border-radius: 1vw;
  margin-top: 4vw;
  padding-bottom: 10vw;
  .main-btn {
    margin-top: 10vw;
    text-align: center;
    button {
      border: 1px solid black;
      color: black;
    }
  }
}
.wco-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 81.5%;
  margin: auto;
  border-bottom: 2px solid #e1e0e0;
  padding: 1.7vw 0vw;
  .wco-left {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 70%;
    .wco-media {
      width: 13%;
      opacity: 0;
      transition: all 0.3s linear;
    }
    .wco-title {
      width: 80%;
      h3 {
        font-family: monospace;
        font-weight: 100;
        font-size: 1vw;
        color: #9a9a9a;
        margin-bottom: 0.5vw;
      }
      h2 {
        font-family: sans-serif;
        font-weight: 100;
        font-size: 3vw;
      }
    }
  }
  .wco-right {
    display: flex;
    width: 26%;
    align-items: center;
    h3 {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 1.5vw;
      color: #9a9a9a;
      margin-right: 1vw;
    }
    svg {
      width: 2vw;
      height: 2vw;
    }
  }
}
.wco-block:hover {
  .wco-media {
    opacity: 1 !important;
  }
}
.write-story {
  margin-bottom: 0vw;
  .main-title {
    color: black !important;
  }
  .desc {
    color: black !important;
  }
  .main-btn {
    button {
      border: 1px solid black;
      color: black;
    }
  }
}
.button-text-wrap {
  display: flex;
  border-top: 2px solid #e1e0e0;
  padding-top: 2vw;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.6vw;
  margin-top: 11.5vw;
  .main-btn {
    button {
      margin: 0 !important;
    }
  }
  h4 {
    color: black;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1vw;
  }
}
.main-banner {
  padding-top: 7vw;
  position: relative;
  padding-bottom: 5.5vw;
  h2 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 4.6vw;
    line-height: 120%;
  }
  .banner-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13vw;
    width: 25%;
  }
  .banner-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27vw;
    width: 66%;
    margin: auto;
    margin-top: 27vw;
    a {
      padding: 1.5vw 4.3vw;
      font-family: sans-serif;
      text-decoration: none;
      color: white;
      font-weight: 100;
      font-size: 10vw;
      border-radius: 7vw;
    }
  }
}

.popup-wrapper {
  width: 100%;
  height: auto;
  padding-top: 12.3vw;
  padding-bottom: 12.3vw;
  .pop-up-inner {
    background-color: #ff584a;
    width: 32%;
    margin: auto;
    border-radius: 1vw;
    position: relative;

    .popup-img {
      width: 60%;
      margin: auto;
      padding-top: 3vw;
      margin-bottom: 2.8vw;
    }
    p {
      text-align: center;
      font-family: sans-serif;
      font-weight: 100;
      font-size: 2.8vw;
      line-height: 125%;
    }
    .popup-btn-wrap {
      display: flex;
      justify-content: center;
      margin-top: 1.7vw;
      padding-bottom: 4vw;
      .main-btn {
        margin: 0.5vw;
        a {
          background: #0d0b1b;
          color: white;
          border: 1px solid #0d0b1b;
          transition: all 0.3s linear;
        }
        a:hover {
          background: transparent;
          color: #0d0b1b;
          border: 1px solid #0d0b1b;
        }
      }
    }
    .close-icon {
      position: absolute;
      top: 1.5vw;
      right: 1.5vw;
    }
  }
}

@media (max-width: 600px) {
  .d-img {
    display: none;
  }
  .m-img {
    display: block;
  }
  .container {
    padding: 0vw 4vw;
  }
  .main-read-banner {
    margin-bottom: -39.5vw;
  }
  .main-wrapper {
    margin: -8px;
    padding-top: 6.5vw;
  }
  .alt-title {
    color: rgba(154, 154, 154, 1);
    font-size: 2.5vw;
    font-weight: 100;
    font-family: monospace;
  }
  .main-title {
    font-size: 9.2vw;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 130%;
  }
  .desc {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 4.4vw;
    line-height: 144%;
  }
  .main-btn {
    button,
    a {
      padding: 3.5vw 8.5vw;
      font-size: 3.5vw;
      border: 2px solid #fff;
      border-radius: 8vw;
    }
  }
  .section-title {
    padding: 0vw;
    padding-top: 15vw;
    padding-bottom: 10vw;
    text-align: center;

    h4 {
      font-family: monospace;
      font-weight: 100;
      font-size: 3.3vw;
      color: white;
    }
  }
  .ss-tags {
    display: flex;
    .s-tag {
      margin-right: 0.5vw !important;
      padding: 0.8vw 1.5vw !important;
      border-radius: 1vw !important;
      h6 {
        font-family: monospace;
        font-size: 2vw !important;
        font-weight: 100;
      }
    }
  }
  h2.block-title {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 6.9vw;
    line-height: 120%;
  }
  p.block-desc {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2.5vw;
    line-height: 116%;
  }
  .story-section {
    border-radius: 5vw;
    padding: 12vw 6.5vw;
    display: block;
    margin-bottom: 4vw;
    .s-left {
      width: 100%;
      .alt-title {
        margin-bottom: 1.8vw;
      }
      .desc {
        color: #9a9a9a;
        font-size: 3.3vw;
        margin-top: 0.5vw;
      }
    }
    .s-right {
      width: 100%;
      padding-top: 8.5vw;
      .desc {
        margin-top: 2vw;
      }
      .main-btn {
        button {
          margin-top: 13vw;
          margin-bottom: 4vw;
        }
      }
    }
    .story-close-icon {
      position: absolute;
      right: 4.3vw;
      top: 4vw;
    }
  }
  .featured-stories {
    margin-bottom: 21.5vw;
    .featured-wrap {
      display: flex;
      padding-left: 15.7vw;
      flex-wrap: no-wrap;
      overflow-x: auto;
    }
  }
  .featuerd-block {
    display: block;
    width: 89.5%;
    flex: 0 0 auto;
    margin-right: 4.5vw;
    border-radius: 3vw;
    overflow: hidden;
    .f-bl-left {
      width: 100%;
      .f-bl-media {
        height: 100%;
      }
    }
    .f-bl-right {
      width: 100%;
      height: 100%;
      .f-bl-right-inner {
        padding: 4vw 4vw 4vw 4vw;
        .ss-tags {
          margin-bottom: 2.2vw;
        }
        h2.block-title {
          margin-bottom: 0.6vw;
        }
        .main-btn {
          margin-top: 12.5vw;
          text-align: center;
          margin-bottom: 1vw;
          button {
            padding: 2.5vw 7vw;
            font-size: 3vw;
          }
        }
      }
    }
  }

  .filter-by-section {
    border-radius: 4vw;
  }
  .filter-by-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 82%;
    margin: auto;
    color: #fff;
    margin-bottom: 10vw;
  }
  .filter-tab {
    display: flex;
    align-items: flex-start;
    margin-right: 2vw;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 2vw;
    margin-bottom: 2vw;
    h2 {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 6.5vw;
      margin-right: 1.4vw;
    }
    h4 {
      font-family: sans-serif;
      font-weight: 500;
      font-size: 4vw;
    }
  }
  .filter-story-wrap {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    color: white;
    padding-bottom: 10vw;
    .ss-block {
      margin-right: 0;
      width: 85%;
      border-radius: 3vw;
      flex: none;
      padding: 0vw 4.5vw;
      padding-bottom: 6vw;
      padding-top: 4vw;
      margin-bottom: 4.5vw;
    }
  }
  .similar-story-section {
    background: #171b52;
    border-radius: 3vw;
    overflow: hidden;
    color: white;
  }
  .ss-block {
    margin-right: 0;
    width: 85%;
    border-radius: 3vw;
    flex: none;
    padding: 0vw 4.5vw;
    padding-bottom: 6vw;
    padding-top: 4vw;
    margin-bottom: 4.5vw;
    .ss-tags {
      display: flex;
      .s-tag {
        margin-right: 1vw !important;
        padding: 0.8vw 1.5vw !important;
        border-radius: 1vw !important;
        h6 {
          font-family: monospace;
          font-size: 2vw !important;
          font-weight: 100;
        }
      }
    }
    h2.block-title {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 6.9vw;
      line-height: 120%;
      margin-top: 3vw;
    }
    p.block-desc {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 3.6vw;
      line-height: 116%;
      padding-right: 0;
      margin-top: 20.7vw;
      margin-bottom: 5.5vw;
    }
    .main-btn button {
      padding: 2.5vw 7vw;
      font-size: 3vw;
    }
  }
  .similar-story-section {
    .ss-wrap {
      display: flex;
      flex-wrap: no-wrap;
      overflow-x: auto;
      padding-left: 15vw;
      padding-bottom: 11.7vw;
      margin-top: 1.4vw;
    }
    .section-title {
      padding-top: 13vw;
      padding-bottom: 8.5vw;
    }
    .ss-block {
      margin-right: 4.5vw;
      width: 76.5%;
    }
  }
  .exp-text {
    text-align: center;
    color: white;
    padding: 0vw;
    padding-bottom: 2vw;
    padding-top: 37vw;
    h2 {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 10vw;
      line-height: 115%;
      margin-bottom: 4vw;
    }
    p {
      font-size: 4.5vw;
      font-family: sans-serif;
      font-weight: 100;
      line-height: 130%;
    }
  }
  .about-wrap {
    width: 91%;
    margin: auto;
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 39vw;
    .ab-left {
      width: 100%;
      h2.ab-title {
        font-family: sans-serif;
        font-weight: 100;
        font-size: 8vw;
        line-height: 130%;
      }
    }
    .ab-right {
      width: 100%;
      padding-top: 11vw;
      .about-content {
        margin-bottom: 9vw;
        padding-right: 0vw;
        h4 {
          font-family: monospace;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 3.4vw;
          margin-bottom: 2.2vw;
          color: #131027;
        }
        p {
          font-family: sans-serif;
          font-weight: 300;
          font-size: 4.5vw;
          line-height: 140%;
          color: #131027;
        }
        p:nth-child(3) {
          margin-top: 2vw;
        }
      }
    }
  }
  .about-form {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3vw;
    padding-top: 9vw;
    padding-bottom: 100vw;
    .abf-wrap {
      display: block;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: auto;
      .f-left {
        width: 63%;
        margin: auto;
        padding-bottom: 8vw;
      }
      .f-right {
        width: 100%;
        h2 {
          font-family: sans-serif;
          font-weight: 100;
          font-size: 8.2vw;
          line-height: 120%;
          margin-bottom: 7.5vw;
        }
        form {
          width: 100%;
          .input-field {
            width: 100%;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 8vw;
            margin-bottom: 2.5vw;
            input {
              font-size: 3.8vw;
              background-color: transparent;
              border: none;
              outline: none;
              padding: 4vw 4.7vw;
            }
            textarea {
              padding: 0.5vw;
              font-size: 3.8vw;
              background-color: transparent;
              border: none;
              outline: none;
              padding: 4vw 4.7vw;
            }
          }

          button {
            padding: 0.5vw;
            font-size: 4.2vw;
            background-color: transparent;
            border: 1px solid black;
            outline: none;
            border-radius: 10vw;
            padding: 4vw 16vw;
          }
        }
      }
    }
  }
}
